* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style-type: none;


}

header {
    background: rgb(202, 130, 5);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;

}

.logo {
    width: 70px;
    height: 70px;
}

.pluma {
    width: 50px;
    height: 60px;
}


.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 40px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: rgb(143, 1, 1);
    font-size: 20px;
}

.navbar-list li:first-child>a {
    color: rgb(95, 10, 10);
    font-weight: 700;
}

main {
    background: rgb(238, 159, 12);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 80%;
}

.hero-info h1 {
    font-size: 55px;
    width: 80%;
    min-width: 550px;
    font-weight: 800;
    color: rgb(247, 220, 220);
}

.hero-info p {
    font-size: 17px;
    width: 70%;
    color: antiquewhite;
    padding: 20px;
}

.hero-info span {
    color: black;
}

.hero-info a {
    color: brown;
    background: rgb(255, 100, 100);
    width: 150px;
    padding: 8px 0px;
    font-size: 17px;
    text-align: center;
    border-radius: 1rem;
    font-weight: 500;

}

.hero-card {
    display: flex;
    flex-direction: row;
    height: 25rem;
    padding: 2rem
}

.trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    width: 100%;
    height: 100%;

}

.caja {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.caja-anime {
    display: flex;
    align-items: end;
    justify-content: center;
    background: rgb(207, 104, 6);
    box-shadow: 10px 10px 5px 5px rgba(131, 76, 3, 0.75);
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    overflow: hidden;

}

.durara {
    background-image: url(./img/durarara.jpg);
    background-position: center;
    background-size: cover;
}

.mushishi {
    background-image: url(./img/mushishi.jpg);
    background-position: center;
    background-size: cover;
}

.eureka {
    background-image: url(./img/Eureka_Seven.jpg);
    background-position: center;
    background-size: cover;
}

.monster {
    background-image: url(./img/monster.jpg);
    background-position: center;
    background-size: cover;
}

.hellsing {
    background-image: url(./img/hellsing.jpg);
    background-position: center;
    background-size: cover;
}

.gto {
    background-image: url(./img/GTO.jpg);
    background-position: center;
    background-size: cover;
}

.caja .caja-anime a {
    color: brown;
    padding: 8px 0px;
    font-size: 19px;
    text-align: center;
    border-radius: 1rem;
    font-weight: 1000;
    box-shadow: 10px 10px 20px 20px rgba(31, 30, 30, 0.75);

}



/*footer {
    background: rgb(219, 143, 3);
    padding: 2rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;


}*/